.modal-body {
	height: auto !important; 
}

.titlebox{
	width: 220px;
	border-bottom: 2px solid #00AEAE;
	margin: 0px auto;
	margin-bottom: 2%;
	letter-spacing: 1px;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
}

.titlebox p {
	margin: 0px;
}

.title {
	font-family: 'Microsoft JhengHei' !important;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}

.subtitle{
	font-family: 'Microsoft JhengHei' !important;
	font-size: 24px !important;
	text-align: left;
	letter-spacing: 1px !important;
	margin-top: 20px;
}

.modal-body{
	height: 150px;
}

.modal-body input {
	margin-bottom: 20px;
}

.modal-dialog{
	margin-top: 10%;
}

#modal_reg {
	float: left;
}

div {
	display: block;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
	background-image: url(../img/bg2.png);
}



#header-wrapper {
	width: 100%;
	height: 550px;
	background-image: url(../img/bg2.png);
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#header{
	height: auto;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


#photo {
	position: relative;
	width: 100%;
	margin: 0px auto;
}

#photo img{
	width: 100%;
	height: auto;
}

@media (max-width: 650px) {
	#photo {
		position: relative;
		width: 420px;
		margin: 0px auto;
	}
}

@media (max-width: 320px) {
	#photo {
		position: relative;
		width: 315px;
		margin: 0px auto;
	}
}


#hello-wrapper{
	width: 50%;
	float: left;
	height: auto;
	margin-top: 75px;
}

#navbar ul {
	font-size: 18px;
	font-family: 'Microsoft JhengHei';
}

#navbar {
	margin-bottom: 0px;
	background-color: rgba(248, 248, 248, 0.5);
	border-color: rgba(248, 248, 248, 0.5);
}

a {
	text-decoration: none;
}

#market {
	float: left;
	width: 350px;
	height: 60px;
	margin: 0px auto;
}

#googleplay{
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	width: 144px;
	height: 42px;
	background-image: url(../img/button-get-it-on-google-play.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#appstore{
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	width: 144px;
	height: 42px;
	background-image: url(../img/Available_on_the_App_Store.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#regist-wrapper{
	width: 45%;
	float: left;
	height: auto;
	margin-top: 100px;
	margin-left: 10px;
	padding: 50px;
}

#regist-wrapper span {
	margin-bottom: 20px;
}

#content-wrapper {
	width: 100%;
	height: 1000px;
	background-image: url(../img/bg2.png);
	box-shadow: 0px -7px 12px -2px rgba(37, 37, 43, 0.5);

}


#content-market {
	float: left;
	width: 350px;
	height: 60px;
	margin-top: 50px;
}

#content-googleplay{
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	width: 144px;
	height: 42px;
	background-image: url(../img/button-get-it-on-google-play.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#content-appstore{
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	width: 144px;
	height: 42px;
	background-image: url(../img/Available_on_the_App_Store.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#content-img{
	height: 300px;
	background-color: #FFF;
	background-image: url(../img/bg2.png);
	border-top: 1px solid #eaeaea;
	padding-top: 10px;
}

#content-img img {
	height: 350px;
	width: auto;
	float: right;
	margin-right: 20px;
}

#content-img p{
	width: 80%;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 50px;
	float: left;
	font-size: 20px;
	font-family: 'Microsoft JhengHei';
}

#content{
	height: 100%;
	background-color: white;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

#user-reg, #translator-reg{
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
}

#content form{
	margin-top: 50px;
}

#contact{
	width: 200px;
	height: 60px;
}

.contact_icon{
	width: 50px;
	height: 50px;
	margin-left: 15px;
	margin-right: 15px;
	float: left;
	background-color: rgba(36, 36, 36, 1);
	border-radius: 40px;
}

.contact_icon:hover {
	-ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Chrome, Safari, Opera */
    transform: scale(1.05);
}


.contact_icon img {
	width: 50px;
	height: 50px;
}

#copyright-wrapper {
	background: rgba(36, 36, 36, 1);
}

#link-wrapper {
	margin-bottom: 10px;
	 
}

#link-wrapper a{
	margin-bottom: 20px;
	color: rgba(255, 255, 255, 0.68) !important;
	font-size: 16px;
	margin-right: 20px;
}

#copyright {
	padding-top: 2%;
	padding-bottom: 2%;
}
#copyright p {
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	margin: 0px auto;
}

#copy_p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.68) !important;
}

@media (max-width: 980px) {
	#content-img img{
		display: none;
	}
}

@media (max-width: 768px) {
	#header-wrapper{
		height: 300px;
	}
	#hello-wrapper {
		width: 0px;
		height: 0px;

		display: none;
	}
	#regist-wrapper{
		width: 500px;
		float: none;
		height: auto;
		margin: 0px auto;
		padding: none;
	}
}

@media (max-width: 480px) {
	#header {
		padding:0px 0px 0px 0px;
	}
	#header-wrapper{
		height: 300px;
	}
	#hello-wrapper {
		width: 0px;
		height: 0px;

		display: none;
	}
	#regist-wrapper{
		width: 460px;
		float: none;
		height: auto;
		margin: 0px auto;
		padding: none;
	}
}

@media (max-width: 420px) {
	#header-wrapper{
		height: 300px;
	}
	#hello-wrapper {
		width: 0px;
		height: 0px;

		display: none;
	}
	#regist-wrapper{
		width: 400px;
		float: none;
		height: auto;
		margin: 0px auto;
		padding: none;
	}

	#content-img p {
		width: 95%;
		margin-right: 0px;
		margin-left: 0px;

	}

	#content-market{
		width: 350px;
	}

	#content-appstore, #content-googleplay {
		width: 144px;
	}
}

@media (max-width: 375px) {
	#header-wrapper{
		height: 300px;
	}
	#hello-wrapper {
		width: 0px;
		height: 0px;

		display: none;
	}
	#regist-wrapper{
		width: 365px;
		float: none;
		height: auto;
		margin: 0px auto;
		padding: none;
	}

	#content-img p {
		width: 95%;
		margin-right: 0px;
		margin-left: 0px;

	}

	#content-market{
		width: 320px;
	}

	#content-appstore, #content-googleplay {
		width: 130px;
	}
}

@media (max-width: 360px) {
	
	#header-wrapper{
		height: 300px;
	}
	#hello-wrapper {
		width: 0px;
		height: 0px;

		display: none;
	}
	#regist-wrapper{
		width: 350px;
		float: none;
		height: auto;
		margin: 0px auto;
		padding: none;
	}

	#content-img p {
		width: 95%;
		margin-right: 0px;
		margin-left: 0px;

	}

	#content-market{
		width: 300px;
	}

	#content-appstore, #content-googleplay {
		width: 120px;
	}
}